* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
.header {
    background-color: #2563eb;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* SECTIONS */
section {
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

section h2 {
    margin-bottom: 15px;
    color: #2563eb;
}

/* SKILLS */
.skills ul {
    list-style: none;
}

.skills li {
    background: #e0f2fe;
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
}

/* BUTTON */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1e40af;
}

/* FOOTER */
footer {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
